﻿
@{
    ViewBag.Title = "Ajax";
}

<div class="row">
    <div class="col-xs-4">
        <h3>Partial views</h3>
        <div class="form-group">
            <label for="name1" class="control-label">Name:</label>
            <input id="name1" type="text" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <button id="send1" class="btn btn-primary">Send</button>
        </div>
        <div id="result1"></div>
    </div>
    <div class="col-xs-4">
        <h3>Ajax simple data</h3>
        <div class="form-group">
            <label for="name2" class="control-label">Name:</label>
            <input id="name2" type="text" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label for="lastname2" class="control-label">Last name:</label>
            <input id="lastname2" type="text" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <label for="email2" class="control-label">Email:</label>
            <input id="email2" type="text" class="form-control input-sm" />
        </div>
        <div class="form-group">
            <button id="send2" class="btn btn-primary">Send</button>
        </div>
        <div id="result2" class="alert" style="display: none"></div>
    </div>
    <div class="col-xs-4">
        <h3>Ajax dropdowns</h3>
        <div class="form-group">
            <label for="ddContinent" class="control-label">Continent</label>
            <select id="ddContinent" class="form-control">
                <option value="">(Select continent)</option>
                <option value="1">Europe</option>
                <option value="2">Asia</option>
                <option value="3">America</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ddCountry" class="control-label">Country</label>
            <select id="ddCountry" class="form-control">
                <option value="">(Select country)</option>
            </select>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#send1").click(getPartial);
            $("#send2").click(saveData);
            $("#ddContinent").change(reloadCountries);
        });

        // Partial view
        function getPartial() {
            $("#result1").hide();
            $.ajax({
                url: "@Url.Action("GetPartialView", "Home")",
                data: { name: $("#name1").val() },
                type: "post",
                success: function (data) {
                    $("#result1").html(data).slideDown("fast");
                    setTimeout(function () { $("#result1").slideUp("fast"); }, 2000);
                },
                error: function () {
                    alert("Oooops! It seems there is a problem...");
                }
            });
        }

        // Ajax simple data
        function saveData() {
            $("#result2").hide();
            $.ajax({
                url: "@Url.Action("SaveData", "Friends")",
                data: {
                name: $("#name2").val(),
                lastname: $("#lastname2").val(),
                email: $("#email2").val(),
                },
                type: "post",
                success: function (returnData) {
                    var $result = $("#result2");
                    $result.removeClass("alert-info").removeClass("alert-danger");
                    var text = returnData ? "Data successfully stored" : "Error storing data!!";
                    var cssClass = returnData ? "alert-info" : "alert-danger";
                    $("#result2").addClass(cssClass).text(text).slideDown("fast");
                },
                error: function () {
                    alert("Error in Ajax call");
                }
            });
        }

        // Ajax dropdowns
        function reloadCountries() {
            $.ajax({
                url: "@Url.Action("GetCountries", "Geo")",
                data: { regionId: $("#ddContinent").val() },
                type: "post",
                success: function (data) {
                    var dd = $("#ddCountry")[0];
                    dd.options.length = 0;
                    for (var i = 0; i < data.length; i++) {
                        var country = data[i];
                        dd.options[i] = new Option(country.Name, country.Id);
                    }
                },
                error: function (request, status, error) {
                    alert("Error in Ajax call");
                }
            });
        }
    </script>
}